*.exe
*.dll
logs/*
htdocs/*
Documentation/*
resources/Essentials/Data/Global/Accounts.xml
resources/Essentials/Data/*/Players.xml
resources/Essentials/Data/*/PlayerKeyBinds.xml
resources/Essentials/Data/*/Elements/*.xml
